@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: theme('colors.white');
  background-color: theme('colors.neutral.950');
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .default-input-color {
    /* focus:border-teal-500 border-fuchsia-400 */
  }
}
